@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --backcolor: #2E2E38;
    --secondary: #FA6849;
    --secondarydim: #fa9780;


}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    min-height: 100vh;


}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--backcolor);
    justify-content: center;
    align-items: center;
}

button.signin {
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: all .5s;
}

button.signin:hover {
    background-color: var(--secondarydim);
}

.layout_main {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    background-color: var(--backcolor);
}

.menubar {
    display: flex;
    flex-direction: column;
    background-color: var(--backcolor);
    padding: 0 20px;
    width: 300px;
}

.menubar .logo {
    font-weight: 900;
    padding: 40px;
    font-size: 48px;
    text-align: center;
    color: white;
}

.menubar .logo span.dot {
    color: var(--secondary)
}

.menubar ul {
    margin: 0;
    padding: 10px 50px;
}

.menubar ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    /* width: 150px; */
    cursor: pointer;
    transition: all .3s ease-in-out;

}

.menubar a {
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: all .3s ease-in-out;
}

.menubar li:hover {
    /* transform: scale(1.2); */
    margin-left: 10px;
}


.menubar .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menubar .profile .image img {
    border: 3px var(--secondary) solid;
    padding: 2px;
    border-radius: 50px;
}

.menubar .profile .username {
    color: white;
    font-size: 18px;
    font-weight: 500;

}

.menubar .profile .email {
    font-size: 14px;
    font-weight: 300;
    color: gray
}

.layout_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.home_main{
    display: flex;
    flex-direction: column;    
}
.home_recent{
    padding: 20px 0;
}
.home_recent_list {
    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 10px 0;
    cursor: pointer;
}
.home_recent_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}
.home_recent_item:hover{
    transform: scale(1.1);
}
.home_recent_item .name{
    font-size: 14px;
    font-weight: 500;
}
.comm_main {
    display: flex;
    flex-direction: column;
}
.menubar_mobile{display: none;}
.mobile_header{display: none;}

 /* Modal */
 .modal_darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: fadein .2s;
  }
  .modal_center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes enter {
    from { display: block; scale: 0; opacity: 0; }
    to {opacity: 1; scale: 1;}
  }
  @keyframes exit {
    from {  opacity: 1;scale:1 }
    to {opacity: 0; scale:0  }
  }
  @keyframes fadein {
    from {  opacity: 0; }
    to {opacity: 1;   }
  }
  @keyframes fadeout {
    from {  opacity: 1; }
    to {opacity: 0;   }
  }
  .exit{
    animation : exit .2s!important;
    /* display: none; */
  }
  .fadeout {
    animation:fadeout .2s;
  }


  .modal_main{
    background: white;
    border-radius: 16px;
    width: 40vw;
    height: 80vh;
    z-index: 10;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 0; 
    animation: enter .2s;
  }
  .modal_modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .modal_heading {
    font-weight: 300;
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-size: 18px;
    text-align: center;
  }
  .modal_closebtn {
    position: fixed;
    right:15px;
    top:15px;
    cursor: pointer;
  }
  
  .modal_modalContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
   
  }
  .modal_contentTop {
    display: flex;
    flex-direction: row;
    gap:10px;
    /* border-radius: 16px; */
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.8)  0 1px 3px 0; */
  }
  .modal_topData{
    display: flex;
    flex-direction: column;
    flex:1;
    gap:1px
  }
  .modal_topData .dname{
    font-weight: 900;
    
  }
  .modal_topData .demail{
    font-weight: 300;
    font-size: 14px;
    
  }

  .modal_topData .dfollow{
    font-weight: 400;
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 4px;
    margin-top: 5px;
    font-size: 12px;
    
  }
  
  .modal_modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  .modal_followData{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0;
  }
  .modal_followDataItem {
    font-size: 14px;
    font-weight: 700;
  }
  .modal_followDataItem div:last-child {
    font-size: 14px;
    font-weight: 300;
  }
  .modal_topActions .following{
    border:1px black solid;
    border-radius: 16px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;

  }
  .modal_topActions .follow {
    background-color: black;
    color:white;
    border:1px black solid;
    border-radius: 16px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
  }
  
  .modal_actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .images img {
    margin:20px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px black;
    transition: all .3s;
  }
  .images img:hover {
    transform: scale(1.1);
  }
  .images .desc {
    position: relative;
    bottom: 50px;
    left:40px;
    color:white;
    font-weight: 700;
  }
  .event_main {
    
  }
  .FAB {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FA6849;
    right:50px; 
    bottom: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px black;
    transition: all .3s;
    
  }
  .FAB:hover {
    transform: scale(1.2);
  }
@media screen and (max-width : 1199px) {
    .layout_main{
        flex-direction: column;
        min-height: 100vh;
    }
    
    .menubar{display: none;}
    .layout_content{border-radius: 50px 50px 0 0;}
    .mobile_header{display: flex;flex-direction:column;align-items: flex-start;}
    .mobile_header .logo {font-weight: 900;padding: 20px;font-size: 48px;text-align: center;color: white;}
    .mobile_header span.dot{color:var(--secondary)}
    .mobile_header .route {color:white;padding: 5px 20px;}
    .menubar_mobile{display: flex;position: fixed; bottom: 0;left: 0;z-index: 10; background-color: var(--backcolor);width: 100%;border-top-right-radius: 50px;border-top-left-radius: 50px;}
    .menubar_mobile ul {display: flex;justify-content: space-evenly;flex: 1;padding: 0;}
    .menubar_mobile ul li {display: flex; flex-direction: column;justify-content: center;align-items: center;}
    .modal_main{width: 85vw;padding:10px ;}
    
    .FAB {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #FA6849;
      right:50px; 
      bottom: 100px;
      cursor: pointer;
      box-shadow: 1px 1px 5px 1px black;
      transition: all .3s;
      
    }
}