@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --backcolor: #2E2E38;
    --secondary: #FA6849;
    --secondarydim: #fa9780;


}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    min-height: 100vh;


}
.splash_main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--backcolor);
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--backcolor);
    justify-content: center;
    align-items: center;
}

button.signin {
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: all .5s;
}

button.signin:hover {
    background-color: var(--secondarydim);
}

.layout_main {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    background-color: var(--backcolor);
}

.menubar {
    display: flex;
    flex-direction: column;
    background-color: var(--backcolor);
    padding: 0 20px;
    width: 300px;
}

.menubar .logo {
    font-weight: 900;
    padding: 40px;
    font-size: 48px;
    text-align: center;
    color: white;
}

.menubar .logo span.dot {
    color: var(--secondary)
}

.menubar ul {
    margin: 0;
    padding: 10px 50px;
}

.menubar ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    /* width: 150px; */
    cursor: pointer;
    transition: all .3s ease-in-out;

}

.menubar a {
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: all .3s ease-in-out;
}

.menubar li:hover {
    /* transform: scale(1.2); */
    margin-left: 10px;
}


.menubar .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menubar .profile .image img {
    border: 3px var(--secondary) solid;
    padding: 2px;
    border-radius: 50px;
}
.menubar .profile .image img:last-child {
  border: none;
  position: relative;
  bottom: -10px;
  left:-50px;
}

.menubar .profile .username {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.menubar .profile .email {
    font-size: 14px;
    font-weight: 300;
    color: gray
}

.layout_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.home_main{
    display: flex;
    flex-direction: column;    
}
.home_recent{
    padding: 20px 0;
}
.home_recent_list {
    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 10px 0;
    cursor: pointer;
}
.home_recent_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}
.home_recent_item:hover{
    transform: scale(1.1);
}
.home_recent_item .name{
    font-size: 14px;
    font-weight: 500;
}
.comm_main {
    display: flex;
    flex-direction: column;
}
.menubar_mobile{display: none;}
.mobile_header{display: none;}

 /* Modal */
 .modal_darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: fadein .2s;
  }
  .modal_center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes enter {
    from { display: block; scale: 0; opacity: 0; }
    to {opacity: 1; scale: 1;}
  }
  @keyframes exit {
    from {  opacity: 1;scale:1 }
    to {opacity: 0; scale:0  }
  }
  @keyframes fadein {
    from {  opacity: 0; }
    to {opacity: 1;   }
  }
  @keyframes fadeout {
    from {  opacity: 1; }
    to {opacity: 0;   }
  }
  .exit{
    animation : exit .2s!important;
    /* display: none; */
  }
  .fadeout {
    animation:fadeout .2s;
  }


  .modal_main{
    display: flex;
    flex:1;
    flex-direction: column;
    background: white;
    border-radius: 16px;
    width: 40vw;
    height: 80vh;
    z-index: 10;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 0; 
    animation: enter .2s;
  }
  .modal_modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .modal_heading {
    font-weight: 300;
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-size: 18px;
    text-align: center;
  }
  .modal_closebtn {
    position: fixed;
    right:15px;
    top:15px;
    cursor: pointer;
  }
  .modal_top {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.2)  1px 1px 6px;
    
    padding: 5px;
  }
  .modal_modalContent {
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 10px;

   
  }
  .modal_contentTop {
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 10px;
  }
  .modal_topData{
    display: flex;
    flex-direction: column;
    flex:1;
    gap:1px
  }
  .modal_topData .dname{
    font-weight: 900;
    
  }
  .modal_topData .demail{
    font-weight: 300;
    font-size: 14px;
    
  }

  .modal_topData .dfollow{
    font-weight: 400;
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 4px;
    margin-top: 5px;
    font-size: 12px;
    
  }
  
  .modal_modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  .modal_followData{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0;
  }
  .modal_followDataItem {
    font-size: 14px;
    font-weight: 700;
  }
  .modal_followDataItem div:last-child {
    font-size: 14px;
    font-weight: 300;
  }
  .modal_topActions .following{
    border:1px black solid;
    border-radius: 16px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;

  }
  .modal_topActions .follow {
    background-color: black;
    color:white;
    border:1px black solid;
    border-radius: 16px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
  }
  
  .modal_actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .images img {
    margin:20px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px black;
    transition: all .3s;
  }
  .images img:hover {
    transform: scale(1.1);
  }
  .images .desc {
    position: relative;
    bottom: 50px;
    left:40px;
    color:white;
    font-weight: 700;
  }
  .event_main {
    
  }
  .FAB {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FA6849;
    right:50px; 
    bottom: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px black;
    transition: all .3s;
    
  }
  .FAB:hover {
    transform: scale(1.2);
  }

  .profile_main {
    display: flex;
    flex-direction: column;
  }
  .profile_top {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* align-self: flex-start; */
    border-radius: 16px;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 6px;
  }
  .profile_info{
    display: flex;
    flex-direction: row;
    gap:10px

  }
  .profile_info img{
    border-radius: 50%;
  }
  .profile_data {
    display: flex;
    flex:1;
    flex-direction: column;
  }
  .profile_data div{
    font-weight: 300;
    font-size: 14px;
  }
  .profile_data div:first-child {
    display: flex;
    gap:2px;
    align-items: center;
    font-weight: 900;
    font-size: 18px;
  }
  .profile_actions {
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap:20px;

    
  }
  .profile_actions div{
    display: flex;
    justify-content: center;
    gap:5px;
    align-items: center;
    border:2px var(--secondary) solid;
    background-color: var(--secondary);
    color:white;
    border-radius: 16px;
    padding: 5px 10px;
    cursor: pointer;

  }
  .profile_actions div:last-child{
    color:var(--secondary);
    border-color: var(--secondary);
    background-color: white;
    
  }
  .profile_actions div span{
    font-size: 12px;
  }
  .profile_followData {
    display: flex;
    padding: 10px;
    font-weight: 500;
    gap:50px
  }
  .profile_followDataItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .complete_main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
    background-color: var(--backcolor);
    justify-content: center;

    /* align-items: center; */
    
  }
  .complete_top{display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 10px;}
  .complete_top .image img {
    border: 3px var(--secondary) solid;
    padding: 2px;
    border-radius: 50px;
}
.complete_top div {
  color:white;
  font-weight: 900;
}
.complete_top div:last-child {
  font-weight: 300;
}
.complete_wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  padding: 20px 50px;
  margin:0 10em;
}
.complete_wrapper .title {
  font-weight: 300;
  margin: 5px 0;
}
.complete_wrapper .info {
  font-size: 12px;
}
.complete_wrapper form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap:15px;
}
.complete_wrapper .formgroup {
  display: flex;
  flex-direction: column;
}
.complete_wrapper label {
  font-size: 12px;
  margin:5px 0;
}
.complete_wrapper select {
  font-family: "Inter",sans-serif;
  border:1px #cdcdcd solid;
  border-radius: 5px;
  height: 25px;
}
.complete_wrapper select:focus {
  outline: none;
}

/********* Start with Hamed **********/
.home_recent {
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    padding-bottom: 5px;
}
.home_recent .title {
    font-weight: 200;
}
.suggest .images img {
    border-radius: 20px;
    box-shadow: 1px 1px 10px 6px #00000021;
    border: 1px solid #8d8d8d;
}
.suggest .images img:hover {
    border-radius: 40px;
    box-shadow: 0px 0px 20px 7px #00000057;
    border: 1px solid #8d8d8d;
}
.suggest .desc {
    font-weight: 200;
}
.suggest .images:hover .desc {
    font-weight: 500;
    transition: 0.5s;
}
.FAB {
    align-items: center;
    box-shadow: 1px 1px 15px 4px #00000026;
    border: 1px solid #afafaf;
}
.modal_darkBG {
    background: #000000bd;
}
.profile_top {
    box-shadow: 1px 1px 12px 2px rgb(0 0 0 / 7%);
}
.profile_data {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
}
.profile_data div {
    font-family: sans-serif;
}
.profile_followData {
    font-weight: 100;
    padding: 15px 0px 0px 25px;
    font-size: 0.9em;
}
.about_main {
    min-height: 350px;
    padding: 25px;
    background: #eeeeee6b;
    font-weight: 300;
}
.profile_actions div{
    border: 1px;
}
.modal_top {
    box-shadow: 1px 1px 12px 2px rgb(0 0 0 / 7%);
    padding: 20px;
}


@media screen and (max-width : 1199px) {
    .layout_main{
        flex-direction: column;
        min-height: 100vh;
    }
    
    .menubar{display: none;}
    .layout_content{border-radius: 50px 50px 0 0;}
    .mobile_header{display: flex;flex-direction:column;align-items: flex-start;}
    .mobile_header .logo {font-weight: 900;padding: 20px;font-size: 48px;text-align: center;color: white;}
    .mobile_header span.dot{color:var(--secondary)}
    .mobile_header .route {color:white;padding: 5px 20px;}
    .menubar_mobile{display: flex;position: fixed; bottom: 0;left: 0;z-index: 10; background-color: var(--backcolor);width: 100%;border-top-right-radius: 50px;border-top-left-radius: 50px;}
    .menubar_mobile ul {display: flex;justify-content: space-evenly;flex: 1;padding: 0;}
    .menubar_mobile ul li {display: flex; flex-direction: column;justify-content: center;align-items: center;}
    .modal_main{width: 85vw;padding:10px ;}
    
    .FAB {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #FA6849;
      right:50px; 
      bottom: 100px;
      cursor: pointer;
      box-shadow: 1px 1px 5px 1px black;
      transition: all .3s;
      
    }
}
